.chart-container {    
    position: relative;
    margin: auto;
    height: 250px;    
}

/** Table rates **/
table.latest-exchange-rates {
    font-size: 12px; 
}

table.latest-exchange-rates td {
    border: none;
    padding: 0.3rem;
}
table.latest-exchange-rates .rate {
    text-align: right;
    
}

tr.row-rate.active {
    background-color: #cfcfcf !important;
}

tr.row-rate:hover {
    cursor: pointer;
}

tr.row-rate.active td.rate {
    font-weight: bold;
}

/** Card **/
.card-header {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.card-body {
    margin: 0;
    padding: 0px 7px;
}

/** Chart **/
.chart-filter ul, .chart-filter span {
    font-size: 12px;
}

.chart-filter ul {
    min-width: 60%;
}

.chart-filter ul li a.active {
    color: #0d6efd;
}

/** Preloader **/
.loading {
    display: none;
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 18%);        
}

.loading img {
    width: 50px;
    height: 50px;
}

.loading .loading-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}